@using Remotion.FunctionalProgramming
@model IEnumerable<Ivo.OefenfirmaCMS.lib.Entities.Product>

@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
            @Html.Raw(input)
    }
    else
    {
            @Html.Raw(input.Substring(0, length))<text>...</text>
    }
}



@{
    ViewBag.Title = "Index";
}

<h2>Beheer Productenlijst</h2>

<p>
    @Html.ActionLink("Voeg nieuw product toe", "Create")
</p>
<div class="container-fluid">
    <table class="table ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artikelnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artikelnaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artikelomschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiguurURL)


            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spotlight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie.Categorienaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie.Children)
            </th>
           
            <th>BEWERKEN</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Artikelnummer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artikelnaam)
                </td>
                <td>
                    @Truncate(item.Artikelomschrijving, 15)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prijs)
                </td>
                <td>
                    <img src="@Url.Content("~/" + item.FiguurURL)" alt="afbeelding" title="foto" />
                    @if (item.Files.Count > 0)
                    {
                        <img src="~Content/images/@item.Files)" alt="afbeelding" title="foto" />
                    }
                        

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spotlight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorie.Categorienaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorie.Parent.Categorienaam)
                </td>
                
                <td >
                    @Html.ActionLink("Wijzig", "Edit", new { id = item.Artikelnummer }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Artikelnummer }) |
                    @Html.ActionLink("Verwijder", "Delete", new { id = item.Artikelnummer })
                </td>
            </tr>
        }
     
    </table>
</div>