@model Ivo.OefenfirmaCMS.lib.Entities.Categorie

@{
    ViewBag.Title = "Details";
}

<h2>Details Categorie</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parent.Children)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent.Categorienaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorienaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorienaam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzig", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Terug naar Categorielijst", "Index")
</p>
